<footer class="footer">
  <div class="footer_top">
    <div class="footer_top__logo">
      <img src="./img/3_galery/6_footer/biocwt.svg" alt="image" />
    </div>
    <div class="footer_top__call">
      <div>
        <img src="./img/3_galery/6_footer/call.svg" alt="image" />
      </div>
      <div>
        <p class="footer_p">+420 000 000 000</p>
      </div>
    </div>
    <div class="footer_top__location">
      <div>
        <img src="./img/3_galery/6_footer/location.svg" alt="image" />
      </div>
      <div>
        <p class="footer_p">Na Plzeňce 1166/0 150 00</p>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div>
      <p class="footer_p">Privacy Policy</p>
    </div>
  </div>
</footer>
