<header class="header">
  <div class="nav">
    <div class="nav_item__list">
      <img src="./img/3_galery/1_header/biocwt.svg" alt="image" />
      <p><a class="link" href="#">Galery</a></p>
      <p class="nav_prices">
        <a class="link" href="#">Prices for services</a>
      </p>
      <p class="nav_about_us"><a class="link" href="#">About Us</a></p>
      <p><a class="link" href="#">Contact</a></p>
    </div>
    <div class="nav_item__burger">
      <div class="dropdown">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="dropdown_content">
          <nav class="dropdown_content_nav">
            <ul>
              <li>
                <p><a class="link" href="#">Galery</a></p>
              </li>
              <li>
                <p><a class="link" href="#">Prices for services</a></p>
              </li>
              <li>
                <p><a class="link" href="#">About Us</a></p>
              </li>
              <li>
                <p><a class="link" href="#">Contact</a></p>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
